<div fxLayout="column" fxLayoutGap="16px" fxLayoutAlign="none center">
  <div></div>
  <h1>Current features</h1>
  <div fxLayout="row" fxLayoutGap="16px" fxFill>
    <div></div>
    <mat-card fxFlex>
      <mat-card-header>
        <mat-card-title>Cart</mat-card-title>
        <mat-card-subtitle>
          Where you list the stuff you need to buy
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card fxFlex>
      <mat-card-header>
        <mat-card-title>Cart History</mat-card-title>
        <mat-card-subtitle>The list of carts you closed</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <div></div>
  </div>
  <div></div>
</div>
