<mat-sidenav-container>
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
  >
    <mat-toolbar style="cursor: pointer">
      <mat-icon>local_fire_department</mat-icon>
      <span>{{ appName }}</span>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a mat-list-item routerLink="">
        <span>Home</span>
      </a>
      <a mat-list-item routerLink="ordered-list">
        <span>Ordered List</span>
      </a>
      <a mat-list-item routerLink="stack">
        <span>Stack</span>
      </a>
      <a mat-list-item routerLink="queue">
        <span>Queue</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z5">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{ title }} - {{ appName }}</span>
      <span class="spacer"></span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
