<footer>
  <mat-toolbar class="mat-elevation-z5" fxLayout="column" fxLayoutGap="5px">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-around center" fxFill>
      <button mat-icon-button>
        <mat-icon>email</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon fontSet="fab" fontIcon="fa-github"></mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon fontSet="fab" fontIcon="fa-linkedin"></mat-icon>
      </button>
    </mat-toolbar-row>
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="center center">
      <span>Created by Sebastian Soto</span>
    </mat-toolbar-row>
  </mat-toolbar>
</footer>
